<html>
<head>
  <title><%= @title %></title>
  <link href="/stylesheets/defaultstyle.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<%= @content_for_layout %>

</body>
</html>
